.knowus .container {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.knowus .container h1 {
  font-family: "Aladin", cursive;
  color: #1e0050;
  padding-bottom: 2rem;
}

.knowus .container p {
  font-family: "Alegreya", serif;
  font-size: 18px;
}
